.Calculator {
    background: rgb(112,55,112);
    background: linear-gradient(90deg, rgba(112,55,112,1) 6%, 
    rgba(107,55,112,1) 14%, rgba(118,66,124,1) 22%, 
    rgba(108,71,130,1) 30%, rgba(97,75,135,1) 38%,
    rgba(81,72,136,1) 46%, rgba(76,69,136,1) 54%,
    rgba(63,72,117,1) 62%, rgba(71,80,120,1) 70%, 
    rgba(71,99,136,1) 78%, rgba(41,122,161,1) 86%, 
    rgba(41,142,161,1) 94%);
    height:540px;
    width:340px;
    padding:10px;
    font-family:'Tahoma', sans-serif;
    border-radius:10px;
  }
    
  .Screen{
    height:68px;
    width:320px;
    line-height:68px;
    padding:10px;
    border-radius:10px;
    border:1px solid rgb(167, 42, 102);;
    background: rgb(47, 19, 70);
    text-align:right;
    color:aliceblue;
    font-size:60px;
  }

  .Container{
    margin-top:20px;
    width:340px;
    height:430px;
    border-radius:10px;
  }
  
  .Row{
    height:85px;
    width:340px;
  }
  
  .Box{
    height:80px;
    line-height:80px;
    width:80px;
    margin-left:2.5px;
    margin-right:2.5px;
    float:left;
    background-color:blueviolet;
    border-radius:10px;
    text-align:center;
    color:aliceblue;
    font-size:40px;
  }
  
  .DoubleBox{
    height:80px;
    line-height:80px;
    width:165px;
    margin-left:1.5px;
    margin-right:1.5px;
    float:left;
    background-color:rgb(226, 43, 156);
    border-radius:10px;
    text-align:center;
    color:aliceblue;
    font-size:45px;
  }
   